ul {
  margin: 0;
  list-style-type: none;
}

.gallery {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-item:hover {
  scale: 1.04;
}

.gallery-link {
  color: #747bff;
}
