.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback-form > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label:first-child {
  margin-bottom: 8px;
}

input,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea,
textarea::placeholder,
input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover,
textarea:hover {
  border-color: #000;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  border-color: #808080;
}

textarea {
  resize: none;
  margin-bottom: 16px;
  height: 80px;
}

.feedback-form > button {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:active {
  background-color: #6c8cff;
}

.form-link {
  color: #747bff;
}
